---
interface Props {
    title: string;
    description: string;
    img: string;
    url: string;
    paid: boolean;
}

const { title, description, img, url, paid } = Astro.props;
const cardClass = paid ? 'paid-class' : 'free-class';
const cardText = paid ? 'Paid' : 'Free';
---

<div class="container">
    <div class="image-container">
        <a href="#">
            <img src=`${img}` alt=`${title}` />
        </a>
    </div>
    <div>
        <h2>{ title }</h2>
        <div class=`${cardClass}`>
            { cardText }
        </div>
        <p>{ description }</p>
        <a class="docs" href=`${url}` target="_blank">Visitar documentación</a>
    </div>
</div>

<style>
    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        border-radius: 8px;
        margin-bottom: 16px;
        min-height: 10rem;
        
    }

    .image-container {
        flex-shrink: 0;
        margin-right: 16px;
        width: 100px; /* Adjust width as needed */
        height: 100%;
    }

    .image-container img {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    h2 {
        margin: 0;
        font-size: 1.5em;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 80%;
        color: #d4d4d4;
    }

    .free-class {
        color: rgb(22, 165, 22);
        font-weight: bold;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .paid-class{
        color: red;
        font-weight: bold;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    p {
        margin: 8px 0;
        font-size: large;
        color: #ffffff;
    }

    .docs {
        position: absolute;
        bottom: 0;
        margin-top: auto;
        padding: 8px 0; 
        align-self: flex-end;
        color: #007bff;
        text-decoration: none;
        position: absolute;
        margin-bottom: 15px;
    }

    .docs:hover {
        text-decoration: underline;
    }
</style>