---
import Links from "./Links.astro"
---

<footer>
    <div class="links">
        <Links />
    </div>
    <div class="rigths">
        <p>© 2024 
            <a href="https://github.com/LeivSuaxy" target="_blank">
                LeivSuaxy
            </a>
            . Almost all rights reserved
        </p>
    </div>
    
</footer>

<style>
    footer {
        color: white;
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .rigths {
        justify-content: center;
        display: flex;
    }

    .rigths p a {
        text-decoration: none;
        color: whitesmoke;
    }

    .rigths p a:hover{
        color: rgb(48, 48, 255);
    }
</style>