<h1>
    <slot />
</h1>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 20px;
        color: whitesmoke;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px black;
    }

    span {
        background: whitesmoke;
        -webkit-background-clip: text;
        color: transparent;
    }
</style>